
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
              .person {
                border: 10px solid transparent;
                margin-bottom: 25px;
                width: 50%;
                height: 50%;
                opacity: 0.7;
              }
              .person:hover {
                border-color: #f1f1f1;
              }
              .carousel-inner img {
                -webkit-filter: grayscale(90%);
                filter: grayscale(60%); /* make all photos black and white */
                width: 100%; /* Set width to 100% */
                margin: auto;
              }
              .carousel-caption h3 {
                color: #fff !important;
              }

    </style>
</head>
<br/>
<body>
    <div class="row" >
        <div class="container text-center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a asp-controller="UNI" asp-action="Clientes">
                            <img src="~/Images/clien.jpg" width="500" height="300">
                        </a>
                        <div class="carousel-caption">
                            <h3>Clientes</h3>
                            <p>Damos prioridad a la satisfacción del cliente.</p>
                        </div>
                    </div>

                    <div class="item">
                        <a asp-controller="UNI" asp-action="Prestamos">
                            <img src="~/Images/pag.png" width="500" height="300">
                        </a>
                        <div class="carousel-caption">
                            <h3>Prestamos</h3>
                            <p>Te brindamos los prestamos con el mínimo de interés.</p>
                        </div>
                    </div>

                    <div class="item">
                        <a asp-controller="UNI" asp-action="Pagos">
                            <img src="~/Images/pagos12.jpg" width="500" height="300">
                        </a>
                            <div class="carousel-caption">
                            <h3>Pagos</h3>
                            <p>Pagos flexibles, de acuerdo a tus necesidades!</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="container text-center">
            <h1><em>WE ARE ECHELON</em></h1>
            <p>Te concedemos tu prestamo personal y empresarial.</p>
            <br>
        </div>
    </div>
</body>
</html>