@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
     body {
                  margin: 0;
                  padding: 0;
                  background-color: #67a2b8;
                  height: 100vh;
             }
</style>
<p>Use this page to detail your site's privacy policy.</p>
