<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #67a2b8;
  height: 100vh;
}
</style>

<h1 style="font-family:Constantia; font-size:xx-large; color:lightseagreen; text-align:justify">Registrar Nuevo Cliente</h1>

<form asp-action="RegistrarClienteNew" style="font-family:Constantia; font-size:large; color:lightseagreen">
<div class="row">


        <div class="col-sm-6">

            <label class ="col-form-label" >Nombres:</label>
            <input class="form-control  nombre-cliente" name="Nombres" type = "text" placeholder="Nombres"/>
            
        </div>
        <div class="col-sm-6">

            <label class ="col-form-label">Apellidos:</label>
            <input class="form-control  apellidos-cliente" name="Apellidos"  type = "text" placeholder="Apellidos"/>

        </div>
</div>

<div class="row">
           <div class="col-sm-6">

            <label class ="col-form-label" >Cédula:</label>
            <input class="form-control cedula-cliente" name="Cedula" type = "text" placeholder="Número de Identificación"/>
            
        </div>
         <div class="col-sm-6">

            <label class ="col-form-label">Dirección:</label>
            <input class="form-control  direccion-cliente" name="Direccion" type = "text" placeholder="Ecriba la Dirección domiciliar"/>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <label class ="col-form-label" >Teléfono:</label>
            <input class="form-control telefono-cliente" name="Telefono" type = "text" placeholder="Número Teléfono o Convencional"/>

        </div>
    <div class="col-md-6">
                            <label for="selectsexo" >Sexo:</label>
                            <select class="form-control sexo-cliente" name="Sexo" id="selectsexo">
                                <option value="" disabled="" selected="">Seleccione</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
     </div>

</div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div>
                <input style="margin:10px" type="submit" asp-controller="UNI" asp-action="Clientes" value="Cancelar" class="btn btn-secondary mx-auto float-right">
                @*<input id="btnguardar" style="margin:10px" type="submit" value="Guardar" class="btn btn-success float-right">*@
                <a id="btnguardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
            </div>
        </div>
    </div>

</form>
<br />

@section Scripts{
    <script src="~/js/AgregarCliente.js"></script>
    
}
