
@model List<Jeral_Perez.Models.ClientePrestamo>

<h1>Registrar Nuevo Pago</h1>
<form asp-action="GuardarPago">
    <div class="col-sm-6">

        <div>
            <label for="selectcliente">Cliente:</label>
            <select class="form-control" name="IdPrestamo" id="selectcliente">
                @{
                    foreach (var Cliente in Model)
                    {
                        <option value="@Cliente.IdCliente">@Cliente.NombreCliente</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-sm-6">

        <label class="col-form-label">Deuda Inicial:</label>
        <input class="form-control" type="text" placeholder="Monto" />

    </div>
    <div class="col-sm-6">

        <label class="col-form-label">Saldo Pendiente:</label>
        <input class="form-control" type="text" name="Saldo" placeholder="Saldo" />

    </div>


    <div class="col-sm-6">

        <label class="col-form-label">Cantidad a Abonar:</label>
        <input class="form-control" name="MontoPagado" type="text" placeholder="Ingrese la cantidad" />

    </div>
    <div>
        <input style="margin:10px" type="submit" value="Guardar" class="btn btn-success">
        <input style="margin:10px" type="submit" asp-controller="UNI" asp-action="Pagos" value="Cancelar" class="btn btn-secondary mx-auto">
    </div>
</form>
<br />
