
@model List<Jeral_Perez.Models.Cliente>
<h1 style="font-family:Constantia; font-size:xx-large; color:lightseagreen; text-align:justify">Registrar Nuevo Prestamo</h1>

<form asp-action="GuardarPrestamo" style="font-family:Constantia; font-size:large; color:lightseagreen">


    <div class="col-md-6">
        <label for="selectcliente">Cliente:</label>
        <select class="form-control cliente-prestamo" name="IdCliente" id="selectcliente">
            @{
                foreach (var Cliente in Model)
                {
                    <option value="@Cliente.IdCliente">@Cliente.Nombres @Cliente.Apellidos</option>
                }
            }
        </select>
    </div>
    <div class="col-md-6">
        <label class="col-form-label">Monto</label>
        <input class="form-control Monto" name="Monto-prestamo" value="" type="text" placeholder="Monto" />
    </div>


    <div class="col-sm-6">

        <label class="col-form-label">Interés (%)</label>
        <input class="form-control interes-prestamo" name="Interes" type="text" placeholder="Interés" />

    </div>
    <div class="col-sm-6">

        <label class="col-form-label">Plazo (Meses)</label>
        <input class="form-control plazo-prestamo" name="Plazo" type="text" placeholder="Plazo del Préstamo" />

    </div>

    <div class="col-md-6">
        <div>
            <input style="margin:10px" type="submit" asp-action="Prestamos" value="Cancelar" class="btn btn-secondary mx-auto ">
            <a id="guardarp" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
        </div>
    </div>
</form>
<br />

@section Scripts
{
    <script src="~/js/NuevoPrestamo.js"></script>
}